# Temporary save files

*~

# Local compiler files

TAGS
LISTOBJ
linux.ifort64/
linux.ifort64.debug/

# Carre temporary files

CARRE.HISTORY
btor.dat
carre.dat
carre.log
carre.out
carre.ps
fort.3
ncar.cfg
gmeta
rzpsi.dat
selptx.inf
structure.dat
traduit.log
dg.*
