# Temporary save files

*~

# ignore local files and directories

*.local
*.local/

# Local compiler files

TAGS
LISTOBJ
git_version.h
git_version_*.h
linux.*/
g77*/
IBMaix*/
SGIirix*/
sun*/
T3E*/
unicos*/
bin/
builds/
lib/
b25_links/

# Carre temporary files

CARRE.HISTORY
btor.dat
carre.dat
carre.log
carre.out
carre.ps
fort.3
ncar.cfg
gmeta
rzpsi.dat
selptx.inf
structure.dat
traduit.log
dg.*

# Carre archive
 
meshes/

# Temporary files created by scripts

grep.lis

